/* ==================== ADD FONTS ================== */
@font-face {
  font-family: "Inter";
  src: url(./fonts/Inter-Light.ttf), url(./fonts/Inter-Medium.ttf),
    url(./fonts/Inter-Regular.ttf);
}
@font-face {
  font-family: "Noto Sans";
  src: url(./fonts/NotoSans-Medium.ttf), url(./fonts/NotoSans-Regular.ttf);
}

/* ==================== GENERAL STYLES ================== */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #fff;
  min-width: 300px;
}

.wrapper {
  z-index: 9999;
}

/* ==================== HEADER STICKY STYLES ================== */

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.07);
  background-color: #fff;
  z-index: 99999;
}

/* ==================== BACK TO TOP BUTTON STYLES ================== */

#backToTop {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 40px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #ff792d;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
  width: 45px;
  height: 45px;
}
#backToTop img {
  width: 100%;
  height: 100%;
}
#backToTop:hover {
  background-color: #b2bed2;
}

/* ==================== HEADER STYLES ================== */

header {
  margin-bottom: 20px;
  height: 72px;
  max-width: 1400px !important;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s linear;
}

header a {
  text-decoration: none;
}

header .brand {
  padding-left: 20px;
  padding-right: 40px;
}

header .brand img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

header ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-content: center;
  /* transition: 0.3s; */
}

header ul li:not(:last-child) {
  margin-right: 44px;
}

header ul li:last-child {
  margin-right: 48px;
}

.font li a {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #0f2756;
  transition: 0.3s all;
}
.font li a:hover {
  color: #fb6b1a;
}
.font {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #0f2756;
}

.header-btn-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 36px;
  align-items: center;
  align-content: center;
}

.header-btn-first {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 197px;
  height: 44px;
  padding: 14px 0;
  gap: 10px;
  border: 1px solid #0f2756;
  border-radius: 65px;
  background-color: #fff;
  cursor: pointer;
  transition: 0.3s linear;
}

.header-btn-first:hover {
  background: #0f2756;
  color: #ffffff;
}

.header-btn-first:hover img {
  background: #fff;
}

.header-btn-second {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 8px;
  width: 131px;
  height: 72px;
  padding: 20px 20px 20px 28px;
  border-radius: 60px 0px 0px 60px;
  border-width: 0;
  background: #b2bed2;
  font-weight: 600;
  cursor: pointer;
  color: #fff;
  transition: 0.3s linear;
}

.header-btn-second:hover {
  background: #0f2756;
  color: #ffffff;
}

/* ==================== HAMBURGER STYLES ================== */

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}
#hamburger-icon .select {
  width: 35px;
  height: 2px;
  background-color: black;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-2px, 3px);
  transform: rotate(-45deg) translate(-2px, 3px);
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-2px, -3px);
  transform: rotate(45deg) translate(-2px, -3px);
}

/* ==================== MOBILE MENU STYLES ================== */

.open .mobile-menu {
  width: 100% !important;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  z-index: 999;
  background-color: #fff;
  overflow-y: hidden !important;
}
.open .mobile-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 300px;
  margin: 0 auto;
}
.open .mobile-menu-list li {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  padding: 15px 0;
  text-align: center;
  color: #0f2756;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 72px;
  left: 0;
  height: calc(100vh - 72px);
  width: 100%;
  transition: 1s;
}

/* ==================== HEADER RESPONSIVE STYLES ================== */

@media only screen and (min-width: 1700px) {
  .wrapper header {
    max-width: 1400px !important;
  }
  .header-btn-second {
    border-radius: 0px;
  }
}

@media only screen and (min-width: 1425px) {
  .wrapper header {
    margin: 0 auto;
    max-width: 1600px !important;
  }
}

@media only screen and (min-width: 1600px) {
  .wrapper header {
    max-width: 1700px !important;
  }
}

@media only screen and (max-width: 1325px) {
  header .brand {
    padding-right: 0;
  }
}

@media only screen and (max-width: 1170px) {
  ul li {
    padding-right: 0 !important;
    margin-right: 15px !important;
  }
  header .header-btn-group {
    gap: 7px;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1170px) {
  .header-btn-group {
    display: none;
  }
  ul li {
    margin-right: 25px !important;
  }
}

@media only screen and (max-width: 800px) {
  header {
    justify-content: space-between;
    padding: 0 15px;
  }
  header .brand {
    padding-right: 0 !important;
    padding: 13px 0;
  }
  header nav {
    display: none;
  }
  header .header-btn-first {
    width: 150px;
    height: 36px;
  }
  header .header-btn-first img {
    display: none;
  }
  header .header-btn-second {
    display: none;
  }
  .open .mobile-menu .header-btn-first {
    display: inline-block !important;
  }
  .open .mobile-menu .header-btn-second {
    display: inline-block !important;
  }
  .open .mobile-menu .header-btn-group {
    display: flex !important;
    flex-direction: column;
    align-self: center;
    width: 100%;
    gap: 16px;
  }
  .open .mobile-menu .header-btn-first img {
    display: inline-block;
  }
  .open .mobile-menu .header-btn-first {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 20px;
    gap: 10px;
    width: 87%;
    height: 72px;
    border: 1px solid #0f2756;
    border-radius: 65px;
  }
  .open .mobile-menu .header-btn-second {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 20px 20px 20px 28px;
    gap: 8px;
    width: 87%;
    height: 72px;
    border-radius: 60px;
    margin-bottom: 40px;
  }
  #hamburger-icon {
    display: block;
  }
}

@media only screen and (max-width: 375px) {
  header .header-btn-first {
    display: none !important;
  }
}

/* ==================== CONTAINER STYLES ================== */

.container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  align-self: center;
}

.container .main-illustration-image {
  width: 100%;
  max-width: 574px;
  height: auto;
  margin-left: 138px;
  margin-right: 110px;
}

.main-animation img {
  animation: zoominoutsinglefeatured 3s infinite ease;
}

@keyframes zoominoutsinglefeatured {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(0%);
  }
}

/* ==================== HERO STYLES ================== */

.main-right-content {
  width: 400px;
  height: auto;
}
.main-right-content .main-first-p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 120%;
  margin-bottom: 24px;
  color: #0f2756;
}
.main-social-icons {
  display: flex;
  gap: 10px;
}
.main-right-content .main-last-p {
  margin-top: 20px;
  margin-bottom: 64px;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #0f2756;
}
.main-primary-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  gap: 16px;
  width: 196px;
  background: linear-gradient(90deg, #ff842b 0%, #fe6915 100%);
  border-radius: 65px;
  border-width: 0;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
  cursor: pointer;
  transition: 1s ease-in-out;
}
.main-primary-button:hover {
  background: linear-gradient(90deg, #ff9d0a 0%, #ff792d 100%);
}
.main-primary-button:hover img {
  display: block;
}

/* ==================== RESPONSIVE HERO STYLES ================== */

@media only screen and (max-width: 1230px) {
  .container {
    width: 90%;
    margin: 0 auto;
    justify-content: space-around;
  }
  .container .main-illustration-image {
    margin: 0;
  }
}

@media only screen and (max-width: 1100px) {
  .main-illustration-image {
    width: 450px !important;
  }
}

@media only screen and (max-width: 945px) {
  .container {
    flex-direction: column;
  }
  .main-section {
    padding-top: 30px;
  }
  .main-illustration-image {
    order: 1;
    width: 100% !important;
  }
  .main-right-content {
    order: -1;
    width: 90% !important;
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
  }
}

@media only screen and (max-width: 600px) {
  .main-right-content {
    width: 100%;
    height: auto;
    align-items: start;
  }
  .main-primary-button {
    width: 100%;
  }
}

@media only screen and (max-width: 450px) {
  .main-social-icons {
    gap: 5px;
  }
}

/* ==================== FIRST ASIDE STYLES ================== */

.aside {
  width: 93%;
  height: 354px;
  margin: 30px auto;
  background: linear-gradient(91.26deg, #f9fbff 0%, #f4f8ff 100%);
  background: rgba(15, 39, 86, 0.03);
  background-position: 100% 100%;
  border-radius: 15px;
  background-image: url("./icons/graphics_icons_blue.svg");
  background-repeat: no-repeat;
  position: relative;
}

.button-up {
  position: absolute;
  top: 30%;
  left: -30px;
  width: 48px;
  height: 48px;
  background: #ffffff;
  border-radius: 50%;
  border: 1px solid #b2bed2;
  box-shadow: 0px 6px 12px -1px rgba(15, 42, 95, 0.15);
  cursor: pointer;
}

.aside .aside-text-group {
  width: 730px;
  height: 100%;
  color: #0f2756;
  padding-top: 48px;
  padding-left: 40px;
}

.aside-text-group .aside-first-p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 140%;
  color: #0f2756;
}

.aside-footer-group {
  margin-top: 44px;
  display: flex;
  justify-content: space-between;
  border-left: 2px solid #fb6b1a;
  height: 81px;
}

.aside-footer-text {
  padding-left: 24px;
}

.our-cost {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  color: #0f2756;
}

.aside-footer-last-p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  color: #0f2756;
}

.aside-footer-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border: 1px solid #b2bed2;
  background: transparent;
  border-radius: 39px;
  width: 219px;
  height: 72px;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #0f2756;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.aside-footer-button:hover img {
  transform: translateX(5px);
}

/* ==================== RESPONSIVE FIRST ASIDE STYLES ================== */

@media only screen and (max-width: 1100px) {
  .aside {
    height: 400px;
  }
  .aside-footer-group {
    flex-direction: column;
  }
  .aside-footer-text {
    padding-bottom: 20px;
  }
  .aside-footer-button {
    padding: 15px;
  }
}

@media only screen and (max-width: 770px) {
  .aside {
    background-image: none;
    margin: 30px auto;
    padding: 0 !important;
  }
  .button-up {
    display: none;
  }
  .aside-text-group .aside-first-p {
    width: 100%;
    word-wrap: break-word !important;
    font-size: 25px;
    white-space: initial;
    white-space: normal;
    inline-size: 450px;
  }
}

@media only screen and (max-width: 750px) {
  .aside {
    padding: 0;
    height: 500px !important;
  }
  .aside-text-group .aside-first-p {
    word-wrap: break-word !important;
    font-size: 25px;
    white-space: initial;
    white-space: normal;
    inline-size: 350px;
  }
  .aside-text-group {
    width: auto !important;
    height: auto !important;
  }
}

@media only screen and (max-width: 490px) {
  .main-social-icons {
    flex-wrap: wrap;
  }
  .main-social-icons img {
    width: 50px;
  }
  .aside-text-group .aside-first-p {
    inline-size: 270px;
    margin: 0 !important;
    padding: 0;
  }
  .aside .aside-text-group {
    width: auto !important;
    padding: 15px 10px 0 15px !important;
  }
  .aside-footer-text {
    padding-left: 10px;
  }
  .aside-footer-button {
    width: 100%;
    padding: 20px;
    margin-top: 30px;
  }
  .aside {
    height: 570px !important;
  }
}

/* ==================== YOU WILL RECIEVE STYLES ================== */

.you-will-receive {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
}

.you-will-receive-right img {
  width: 100%;
  max-width: 306px;
  height: auto;
}

.you-will-receive-left {
  width: 65%;
  max-width: 880px;
}

.you-will-receive-left .row {
  padding-bottom: 20px;
  padding-top: 31px;
  border-bottom: 1px solid #cfd7e7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.receive {
  padding-left: 20px;
  margin-bottom: 28px;
  margin-top: 150px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 140%;
  color: #0f2756;
}

@media only screen and (max-width: 1050px) {
  .receive {
    margin-top: 70px;
  }
}

.you-will-receive-left button {
  margin-top: 30px;
}

.icon-with-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.you-will-receive-left p {
  color: #0f2756;
}

.you-will-receive-left .row .icon-with-text span {
  margin-left: 24px;
  color: #0f2756;
}

.you-will-receive-left .row p {
  color: #484e65;
  width: 450px;
}

/* ==================== REPONSIVE YOU WILL RECIEVE STYLES ================== */

@media only screen and (max-width: 1170px) {
  .you-will-receive {
    justify-content: center;
    padding: 0;
    gap: 40px;
  }
  .receive {
    margin-top: 70px;
    margin-bottom: 0px;
    width: 100%;
  }
  .you-will-receive-left {
    width: 100%;
    max-width: 90%;
  }
  .you-will-receive-left .row p {
    width: 100%;
  }
  .you-will-receive-left .row .icon-with-text span {
    margin-left: 10px;
  }
  .you-will-receive-left .row {
    flex-wrap: wrap;
    gap: 20px;
  }
}
@media only screen and (max-width: 850px) {
  .you-will-receive-left {
    width: 100%;
  }
  .you-will-receive-left .row {
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }
}
@media only screen and (max-width: 600px) {
  .you-will-receive {
    justify-content: start;
    padding: 20px;
  }
  .will-receive-right {
    margin: 0 auto;
  }
}
.rapidly-chat {
  padding-top: 160px;
  width: 90%;
  margin: 0 auto;
}
.chat-info {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 140%;
  margin-bottom: 85px;
  color: #0f2756;
}
.chat-info .orange-info {
  color: rgba(251, 107, 26, 1);
}
.chat-row-first {
  padding-bottom: 20px;
  border-bottom: 1px solid #cfd7e7;
  display: flex;
  align-items: flex-end;
  margin-bottom: 64px;
  /* gap: 180px; */
  /* justify-content: space-between; */
}
.sms-col {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 165px;
}
.how-it-work {
  margin-left: 193px;
}
.sms-col span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 120%;
  color: #0f2756;
}
.chat-row-first p {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: right;
  color: #484e65;
}
.chat-row {
  display: flex;
  align-items: center;
}
.chat-row-first-p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 46px;
  letter-spacing: 0.04em;
  color: #0f2756;
  margin-right: 178px;
}
.chat-row-first-p1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 46px;
  letter-spacing: 0.04em;
  color: #0f2756;
  margin-right: 178px;
}
.chat-row-second-p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  color: #0f2756;
  margin-right: 214px;
}
.chat-row-third-p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  color: #0f2756;
}
.chat-row-last {
  margin-top: 51px;
}
@media only screen and (max-width: 900px) {
  .chat-row {
    flex-direction: column;
    align-items: start;
    width: 100%;
  }
  .sms-col {
    margin-right: 10vw;
  }
  .how-it-work {
    margin-left: 15vw;
  }
  .chat-row-first-p,
  .chat-row-first-p1,
  .chat-row-second-p,
  .chat-row-third-p {
    margin: 0;
  }
}
@media only screen and (max-width: 670px) {
  .chat-row {
    align-self: flex-start;
    text-align: left;
    width: 100%;
    justify-content: start;
    align-items: flex-start;
    align-self: flex-start;
    align-content: start;
  }
  .name-send,
  .how-it-work {
    display: none;
  }
  .chat-row-first {
    border-bottom: none;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
  }
  .chat-row-first-p,
  .chat-row-first-p1 {
    margin-bottom: 18px;
  }
  .chat-row-second-p {
    margin-bottom: 8px;
  }
  .chat-row-last {
    margin-top: 40px;
  }
}
/*
.hidden {
  display: none;
} */

.aside-orange-container {
  max-width: 1296px;
  margin: 0 auto;
  margin: 0 52px;
  margin-top: 150px;
  margin-bottom: 180px;
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #ff842b 0%, #fe6915 100%);
  border-radius: 30px;
  transition: all 1s ease-out;
  border: 1px solid transparent;
}
.aside-orange-container:hover {
  background: #fff;
  border-color: #fb6b1a;
}
.aside-orange-container:hover .orange-button {
  color: #ffffff;
  background: linear-gradient(90deg, #ff9d0a 0%, #ff792d 100%);
}
.aside-orange-container:hover .orange-text-two {
  border-color: #fb6b1a;
  color: #fe6915;
}
.aside-orange-container:hover .orange-text-one {
  color: #fe6915;
}
.orange-button img {
  display: none;
}
.orange-button:hover {
  justify-content: space-evenly;
}
.orange-button:hover img {
  display: block;
}
.orange-text-one {
  margin: 34px 40px;
  width: 300px;
  height: auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
}
.orange-text-two {
  padding: 0 0 0 40px;
  margin: 46px 0;
  width: 295px;
  border-left: 1px solid #ffffff;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
  margin-right: auto;
}
.orange-button {
  width: 376px;
  height: 72px;
  background: #ffffff;
  border-radius: 65px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  gap: 16px;
  border: none;
  margin: 54px 40px 54px 0;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #fb6b1a;
  cursor: pointer;
}

@media only screen and (max-width: 1110px) {
  .orange-text-two {
    margin-right: auto;
  }
  .orange-button {
    width: auto;
  }
  .aside-orange-container {
    flex-wrap: wrap;
    margin-bottom: 80px;
  }
}
@media only screen and (max-width: 1010px) {
  .aside-orange-container {
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-align: center;
    align-content: center;
  }
  .orange-text-one {
    width: 90%;
    /* margin-right: 0; */
  }
  .orange-text-two {
    border: 1px solid #ffffff;
    width: 90%;
    margin: 0;
    padding: 10px;
    margin-right: 0;
  }
  .orange-button {
    width: 80%;
    margin-right: 0;
  }
}
@media only screen and (max-width: 600px) {
  .orange-text-two {
    border: none;
    padding-top: 20px;
    border-top: 1px solid #ffffff;
    margin: 0 !important;
  }
  .orange-text-one {
    margin: 0;
    margin-bottom: 20px;
  }
  .aside-orange-container {
    justify-content: center;
    text-align: left;
    align-self: center;
    align-content: center;
    padding: 36px 5px;
    align-items: center;
  }
  .orange-button {
    margin: 0;
    padding: 0;
    margin-top: 50px;
    width: 90%;
  }
  .margin-52 {
    margin: 0 20px;
  }
}
.media-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: end;
  align-self: end;
}
.media-left {
  width: 441px;
  /* padding: 10px; */
  margin-left: 138px;
  display: flex;
  flex-direction: column;
}
.media-left-info {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 16px;
}
.media-left-info img {
  margin-right: 20px;
}
.media-left p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 120%;
  text-transform: uppercase;
  color: #0f2756;
}
.media-left ul {
  padding-left: 30px;
  list-style: disc;
}
.media-left ul li {
  /* padding-bottom: 8px; */
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #484e65;
}
.media-left button {
  margin-top: 36px;
}
.media-right {
  background: linear-gradient(91.26deg, #f9fbff 0%, #f4f8ff 100%);
  border-radius: 30px 0px 0px 0px;
}
.media-right img {
  width: 100%;
  max-width: 550px;
  height: auto;
}
.media-container-second .media-right img {
  padding-top: 120px;
}
.media-container-second .media-right {
  border-radius: 0;
}
.media-container-third .media-right img {
  padding-top: 120px;
}
.media-container-third .media-right {
  border-radius: 0 0 0 30px;
}
@media only screen and (max-width: 1200px) {
  .media-left {
    margin-left: 50px;
  }
}
@media only screen and (max-width: 1050px) {
  .media-container {
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    align-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 50px;
  }
  .media-left {
    width: 90%;
    margin: 0 auto;
  }
  .media-right {
    margin-bottom: 50px;
    background: none;
  }
  .media-container-second .media-right img {
    padding-top: 20px;
  }
  .media-container-third .media-right img {
    padding-top: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .media-left ul li:nth-last-child(2),
  .media-left ul li:nth-last-child(1) {
    display: none;
  }
  .media-left ul {
    list-style: none;
  }
  .media-left {
    width: 100%;
    text-align: center;
    justify-content: center;
  }
  .media-left .media-left-info {
    margin-bottom: 20px;
    justify-content: center;
  }
  .media-left button {
    margin: 0 auto;
    margin-top: 30px;
  }
  .media-container-third .media-right img {
    padding: 0;
    margin: 0;
  }
}
.oplata {
  padding: 0 52px;
  padding-top: 150px;
}
.oplata-container {
  display: flex;
  justify-content: space-between;
}
.oplata-left img {
  width: 100%;
  max-width: 550px;
  height: auto;
}
.oplata-right {
  width: 50%;
}
.oplata-right-flex-container {
  display: flex;
  justify-content: space-between;
}
.oplata-right p:first-child {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 140%;
  color: #0f2756;
  margin-bottom: 4px;
}
.oplata-right p:nth-child(2) {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #b2bed2;
  margin-bottom: 48px;
}
.oplata-right-flex-container {
  margin-bottom: 70px;
}
.oplata-right-flex-container .oplata-right-left p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #0f2756;
  margin-bottom: 23px;
}
.oplata-right-flex-container .oplata-right-left span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #0f2756;
  position: absolute;
  margin: 8px 18px;
}
.oplata-right-flex-container .oplata-right-left img {
  margin: 5px 0px;
}
.oplata-right-flex-container .oplata-right-left {
  width: 70%;
  position: relative;
}
.oplata-right-right img {
  width: 100%;
  max-width: 302px;
  height: auto;
}
@media only screen and (max-width: 1200px) {
  .oplata-container {
    flex-direction: column;
    align-items: center;
  }
  .oplata-right {
    order: -1;
    width: 100%;
  }
  .oplata {
    padding-top: 80px;
  }
}
@media only screen and (max-width: 650px) {
  .oplata-right-flex-container {
    flex-direction: column;
    align-self: center !important;
    align-content: center !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .oplata-right-flex-container .oplata-right-left {
    width: 100%;
  }
  .oplata-left {
    margin-top: 40px;
  }
  .oplata-right p {
    text-align: center;
  }
  .oplata-right button {
    margin: 0 auto;
  }
  .oplata-right-right img {
    width: 100%;
    max-width: 400px !important;
    margin-top: 45px;
  }
}
.magnit-container {
  height: auto;
  margin-top: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.magnit-img {
  width: 100%;
  max-width: 550px;
  height: auto;
}
.magnit-info {
  position: relative;
  width: 550px;
  height: auto;
}
.magnit-info p {
  margin-bottom: 36px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 140%;
  color: #0f2756;
}
.magnit-info-with-castle p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #0f2756;
  margin-bottom: 16px;
}
.magnit-info-with-castle {
  border-left: 2px solid #fb6b1a;
  padding-left: 24px;
}
.magnit-info-with-castle div {
  margin-bottom: 76px;
}
.magnit-info-with-castle span {
  margin-left: 10px;
  position: absolute;
  bottom: 45%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #8b8e97;
}
@media only screen and (max-width: 1100px) {
  .magnit-container {
    flex-direction: column;
    align-self: center;
    align-content: center;
    align-items: center;
    justify-content: center;
  }
  .magnit-info {
    width: 80%;
    /* margin-bottom: 500px; */
  }
}
@media only screen and (max-width: 600px) {
  .magnit-info {
    width: 90%;
    margin-bottom: 40px;
  }
  .magnit-img img {
    display: block;
    max-width: 320px;
    margin: 0 auto;
  }
  .magnit-info-with-castle p {
    padding-bottom: 20px;
  }
  .magnit-info-with-castle {
    padding: 20px;
  }
  .magnit-info-with-castle span {
    bottom: 35%;
  }
  .magnit-info-with-castle div {
    margin-bottom: 40px;
  }
}

/* ===================== ZAYAVKA CONTAINER ======================== */
.zayavka {
  margin-top: 160px;
}
.zayavka p {
  margin-bottom: 52px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 140%;
  color: #0f2756;
  margin-left: 138px;
}
.zayavka-container {
  background-image: url("./icons/иконки.svg");
  background-position: 100% 100%;
  width: 90%;
  margin: 0 auto;
  display: flex;
  padding-left: 86px;
  background-color: #fb6b1a;
  border-radius: 30px;
  background-repeat: no-repeat;
  transition: all 0.5s ease-in-out;
  border: 1px solid transparent;
}
.zayavka-container:hover {
  background-color: #fff;
  border-color: #fb6b1a;
}
.zayavka-container:hover .orange-button {
  background: linear-gradient(90deg, #ff9d0a 0%, #ff792d 100%);
  color: #fff;
}
@media only screen and (max-width: 1100px) {
  .zayavka-container {
    padding-left: 20px;
  }
  .zayavka-container .orange-button {
    width: 200px;
  }
  .zayavka {
    margin-top: 80px;
  }
}
@media only screen and (max-width: 670px) {
  .zayavka-container {
    height: 330px;
    padding-left: 0;
    background-position: 100% 100%;
  }
  .zayavka p {
    margin-left: 10vw;
  }
  .zayavka-container .orange-button {
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
  }
}
@media only screen and (max-width: 500px) {
  .zayavka-container {
    background-position: -10% 130%;
  }
}
.contact {
  margin-top: 160px;
  padding-left: 138px;
}
.contact .contact-p {
  margin-bottom: 62px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 140%;
  color: #0f2756;
}
.contact-container {
  display: flex;
}
.contact-container span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 140%;
  color: #484e65;
  transition: 0.3=2s linear;
}
.contact-container span:hover {
  color: #8b8e97;
}
.contact-container p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #484e65;
}
.contact-container .user-first {
  display: flex;
}
.contact-container .user-second {
  display: flex;
}
.contact-container img {
  margin-right: 16px;
}
.user-first {
  margin-right: 64px;
}
.user-first span,
.user-second span {
  cursor: pointer;
}
@media only screen and (max-width: 1100px) {
  .contact-container .user-first {
    margin-bottom: 60px;
  }
  .contact {
    margin-top: 80px;
    padding-left: 0;
    width: 90%;
    max-width: max-content;
  }
}
@media only screen and (max-width: 900px) {
  .contact-container {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .contact {
    padding-left: 80px;
  }
  .contact-container .user-first {
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 600px) {
  .contact {
    padding-left: 30px;
  }
  .contact-container .user-first {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 400px) {
  .contact {
    padding-left: 10px;
  }
  .contact-container .user-first {
    margin-bottom: 35px;
  }
}
@media only screen and (max-width: 350px) {
  .contact {
    padding-left: 0px;
    width: 100%;
  }
  .user-first {
    margin-right: 0;
  }
  .contact-container .user-first {
    margin-bottom: 30px;
  }
}
.emails {
  margin-top: 160px;
  padding-left: 138px;
}
.emails .emails-info {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 140%;
  color: #0f2756;
  margin-bottom: 56px;
}
.emails-container {
  display: flex;
  /* justify-content: start; */
  /* align-items: center; */
}
.emails-container .email-box {
  padding-right: 36px;
}
.emails-container .email-box:nth-child(2) {
  padding-left: 36px;
  border-left: 1px solid #cfd7e7;
}
.emails-container .email-box:nth-child(3) {
  padding-left: 36px;
  border-left: 1px solid #cfd7e7;
}
.emails-container .email-box p {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #0f2756;
  margin-bottom: 15px;
}
.emails-container .email-box span {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #fb6b1a;
  transition: 0.3s linear;
}
.emails-container .email-box span:hover {
  text-decoration: underline;
}
.img-box {
  display: flex !important;
  transition: all 0.5s ease;
}
.img-box span {
  cursor: pointer;
}
.img-box img {
  margin-right: 10px;
}
@media only screen and (max-width: 1100px) {
  .emails {
    padding-left: 70px;
    margin-top: 80px;
  }
  .emails-container {
    flex-wrap: wrap;
    gap: 40px;
  }
  .email-box {
    border: none !important;
    flex: 1;
  }
  .emails-container .email-box:nth-child(3) {
    padding-left: 0;
  }
  .emails-container .email-box:nth-child(2) {
    padding-left: 0;
  }
}
@media only screen and (max-width: 600px) {
  .emails {
    padding-left: 20px;
  }
  .email-box {
    border-bottom: 1px solid #e7e1cf !important;
  }
  .emails-container .img-box {
    margin-bottom: 20px;
  }
}
.footer {
  margin-top: 160px;
  padding-bottom: 50px;
  width: 100%;
  background: #fbfbfb;
}
.footer-container {
  max-width: 1400px;
  padding-left: 138px;
  padding-right: 256px;
}
.logo-row {
  padding-top: 65px;
  display: flex;
  gap: 30px;
  margin-bottom: 41px;
}
.logo-row img {
  cursor: pointer;
}
.footer-left p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 140%;
  text-decoration-line: underline;
  color: #484e65;
  margin-bottom: 8px;
}
.footer-left p:nth-child(2) {
  margin-bottom: 32px;
}
.footer-info {
  display: flex;
  justify-content: space-between;
}
.footer-right span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #0f2756;
}
@media only screen and (max-width: 1100px) {
  .footer-container {
    padding-left: 70px;
    padding-right: 126px;
  }
  .footer {
    margin-top: 80px;
  }
}
@media only screen and (max-width: 770px) {
  .footer-container {
    padding-left: 70px;
    padding-right: 0;
  }

  .footer-info {
    flex-direction: column;
  }

  .logo-row {
    padding-top: 40px;
  }
  .footer-info {
    gap: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .logo-row {
    /* flex-direction: column; */
    flex-wrap: wrap;
  }
  .logo-row {
    display: block;
  }
  .logo-row img {
    margin-bottom: 20px;
    display: block !important;
  }
  .footer-container {
    padding-left: 20px;
  }
}
section {
  max-width: 1400px !important;
  margin: 0 auto;
}
.footer-container {
  max-width: 1400px !important;
  margin: 0 auto;
}
#lidogeneratsiya {
  max-width: 1400px !important;
  margin: 0 auto;
}
.margin-52 {
  max-width: 1400px !important;
  margin: 0 auto;
}
@media only screen and (max-width: 400px) {
  .main-social-icons img{
    width: 40px;
  }
  .will-receive-right img{
    width: 200px;
  }
  .aside{
    height: 550px !important;
    padding: 10px 0 !important;
  }
  .aside-footer-button{
    margin-top: 0;
    padding: 15px;
    width: 80%;
  }
  #backToTop{
    right: 20px;
  }
  .user-first{
    margin-right: 0;
  }
  .zayavka p{
    text-align: center;
    margin-left: 0;
  }
  .magnit-info-with-castle div span{
    bottom: 25%;
  }
}